div.portrait-container {
    background-color: #d22027;
    padding:10px;
    clip-path: polygon(11% 0%, 89% 0%, 100% 5.5%, 100% 94.5%, 89% 100%, 11% 100%, 0% 94.5%, 0% 5.5%);

}

img.portrait{
    clip-path: polygon(10% 0%, 90% 0%, 100% 5%, 100% 95%, 90% 100%, 10% 100%, 0% 95%, 0% 5%);
    width: 310px;
}

h1.main_title {
    color: #d22027;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    line-height: 0.7;
}

h2.subtitle {
    color: #d22027;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    border-bottom: solid #d22027 2px;
    margin-bottom: 5px;
}

p.subtitle {
    color: #d22027;
    margin: 0;
}

div.description {
    color: #d22027;
    margin: 10px 0;
}

div.description span {
    font-weight: bold;
    text-transform: uppercase;
}

div.look ul {
    margin: 0;
}

div.look li div {
    display: flex;
    flex-direction: row;
}

div.look li div p {
    margin: 0;
}

div.look li div p.look-type {
    width: 80px;
}

div.look li div p.look-value {
    flex: 1;
}

div.multiline p {
    margin: 0;
}

p.multiline-single {
    margin: 0;
}

p.belief-description {
    border-bottom: 2px dotted black;
}

h2.flex-title {
    flex: 1;
}

div.xp-mark {
    border: 2px solid #d22027;
    aspect-ratio: 1/1;
    height: 5%;
    width: 5%;
    margin: auto 0.5%;
}

div.first-page-bordered-block {
    border: 2px solid #d22027;
    margin: 10px 0;
    min-height: 50px;
}

div.first-page-bordered-block p {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

div.harm-section {
    border: 2px solid #d22027;
    margin: 10px 0;
    min-height: 50px;
}

div.harm-section p.title {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

div.harm-section p.empty-string {
    border-bottom: 1px dotted black;
}

div.harm-section div.harm-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
}

div.harm-section div.harm-cell {
    aspect-ratio: 1/1;
    border: 1px solid black;
    width: 10px;
    margin: 0 1%;
}

div.harm-section div.armor-cell {
    aspect-ratio: 1/1;
    border: 1px solid black;
    border-radius: 5px;
    width: 10px;
    margin: 0 1px;
}

div.harm-section div.harm-line-description {
    margin: 0 5px;
}

div.harm-line-description-justify {
    flex: 1;
}

@media print {
    div.printer-page-break {
        clear: both;
        page-break-after: always;
    }
}

div.moves div.second-page-move div.move-title {
    color: #d22027;
    text-transform: uppercase;
    border-bottom: 2px solid #d22027;
    font-weight: bold;
    font-size: 120%;
}

div.options-move-single-option {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

div.single-option-marker {
    border: 1px solid black;
    aspect-ratio: 1/1;
    height: 7px;
    margin: 0 5px;
}

ul.move-multielement-list {
    margin: 0;
    padding-left: 15px;
}

div.move-multielement-fillable-line {
    border-bottom: 1px dotted black;
    min-height: 1.5em;
}

div.move-multielement-horizontal-list-section {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
}

div.move-multielement-horizontal-list-section div.item {
    margin-right: 20px;
    font-style: italic;
    font-weight: bold;

}

div.inline-subtitle{
    display: inline-block;
    color: #d22027;
    text-transform: uppercase;
    font-weight: bold;
}

div.optional-move{
    border: 2px solid #d22027;
    aspect-ratio: 1/1;
    height: 8px;
    display: inline-block;
}

div.second-page-move{
    margin-top: 15px;
}
div.centered-link {
    display: flex;
}
div.centered-link a{
    margin: 3px auto;
    text-decoration: none;
    color: #d22027;
    border: 1px dashed #d22027;
    display: inline-block;
    padding: 2px;

}
@media print {
    div.no-print {
        display: none!important;
    }

}


div.playbooks-list-main-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    width: 1000px;
    margin: auto;
}
div.playbook-list-item{
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    box-sizing: border-box;
}
div.playbook-list-portrait{
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
}
div.playbook-list-item-description{
    width: 100%;
    text-transform: uppercase;
    color: white;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(65deg, #b52919, #e77878);
    clip-path: polygon(0 0, 100% 0%, 81% 0, 100% 100%, 0 100%);
}
div.playbook-list-item-description p{
    margin: 0;
}
div.playbook-list-item-description p.playbook-list-description{
    text-transform: none;
    font-size: 80%;
}

div.license-text {
    margin-top: 10px;
}

div.license-text p {
    font-size: 75%;
    text-align: center;
    margin: 0;
}