div.portrait{
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: #d22027;
    border-width: 10px;
    border-style: solid;
}

h1.main_title {
    color: #d22027;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-bottom: 70px;
}

h2.subtitle{
    color: #d22027;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    border-bottom: solid #d22027 2px;
}
p.subtitle {
    color: #d22027;
}
div.description {
    color: #d22027;
}
div.description span {
    font-weight: bold;
    text-transform: uppercase;
}
div.multiline p {
    margin: 0;
}
p.belief-description {
    border-bottom: 2px dotted black;
}
h2.flex-title{
    flex: 1;
}

div.xp-mark{
    border: 2px solid #d22027;
    aspect-ratio: 1/1;
    height: 5%;
    width: 5%;
    margin: auto 0.5%;
}

