<html>
<head>
    <title>{{ name }}</title>
    <link href="{{ url_for('static', path='/flex.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="playbooks-list-main-container">
        {% for name, value in data.items() %}
        <div class="playbook-list-item">
        <a href="{{ url_for('get_playbook', playbook_name=name) }}">
            <div class="playbook-list-portrait" style="background-image: url({{url_for('data', path='/images/previews/' ~ name ~'.png')}})">
                    <div class="playbook-list-item-description">
                        <p class="playbook-list-name">{{ value['name'] }}</p>
                        <p class="playbook-list-description">{{ value['short_description'] }}</p>
                    </div>
            </div>
        </a>

        </div>
        {% endfor %}
    </div>
</body>
</html>