{% extends "base.jinja2" %}
{% block first_page %}
        <div class="left-column">
            <div class="portrait title-border-color" style="background-image: url({{url_for('data', path='/images/' ~ id ~'.png')}})"></div>
            <div class="description"><span>{{ name }}</span> {{ description }}</div>
        </div>
        <div class="right-column">
            <h1 class="main_title title-color">{{ name }}</h1>
            <h2 class="subtitle">{{ name_attr }}</h2>
            <h2 class="subtitle">{{ look_attr }}</h2>
            <p class="subtitle">{{ look_choose_one }}</p>
            {{ playbook_style(look_items) }}
            <h2 class="subtitle">{{ jam_attr }}</h2>
            <p>{{ jam }}</p>
            <h2 class="subtitle">{{ states_attr }}</h2>
            {{ render_states(states) }}
            <p>{{ maybe_multiline(states_description) }}</p>
        </div>
{%  endblock %}

{% block second_page %}
<div class="moves"> Вторая страница</div>
<div class="moves"> Вторая страница</div>
<div class="moves"> Вторая страница</div>
{%  endblock %}